.wrapper {
width: 100%;
}
.rectangle1 {
  display: none;
}
@media only screen and (min-width:812px) {
.rectangle1 {
  display: block;
  width: 100%;
  padding-bottom: 30px;
}
.index {
  width               : 100%;
  min-width           : 1400px;
  height              : 100vh;
  min-height          : 913px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.index .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 914px;
  width               : 1624px;
  position            : absolute;
  margin              : 0;
  left                : -186px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 914px;
  width               : 1528px;
  position            : absolute;
  margin              : 0;
  left                : -128px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 852px;
  height              : auto;
  width               : 1272px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 22.0px;
}
.index .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 91px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 656px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.37px;
  line-height         : 30.0px;
}
.index .albums {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 793px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.37px;
  line-height         : 30.0px;
}
.index .media {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 959px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.37px;
  line-height         : 30.0px;
}
.index .merch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.37px;
  line-height         : 30.0px;
}
.index .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1253px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.37px;
  line-height         : 30.0px;
}
.index .follow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 457px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 604px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 74.0px;
}
.index .follow .span1 {
  text-align          : justify;
}
.index .follow .span2 {
  text-align          : justify;
  letter-spacing      : -0.37px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
